<div class="bg-light about" id="about">
  <h3 class="about-header" data-i18n="nav.about">O nama</h3>
  <div id="carousel-about" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      {{buttons}}
    </div>
    <div class="carousel-inner">
      {{items}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-about" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden" data-i18n="carousel.control.prev">Prethodna</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-about" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" data-i18n="carousel.control.next">Sljedeća</span>
    </button>
  </div>
</div>