<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./images/logo.png" alt="RasadnikBernat" width="48" height="48"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="#products" data-i18n="nav.products">Sadnice</a></li>
          <li class="nav-item"><a class="nav-link" href="#services" data-i18n="nav.services">Usluge</a></li>
          <li class="nav-item"><a class="nav-link" href="#about" data-i18n="nav.about">O nama</a></li>
          <li class="nav-item"><a class="nav-link" href="#gallery" data-i18n="nav.gallery">Galerija</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact" data-i18n="nav.contact">Kontakt</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a id='hr' class="nav-link nav-link-language">HR</a>
            <span class="vd">|</span>
            <a id='en' class="nav-link nav-link-language">EN</a>
          </li>
        </ul
        >
      </div>
    </div>
  </nav>
</header>